examples/core/io
examples/core/print_format
examples/core/vector
examples/glt/heart
tutorials/xcb/open_window
tutorials/xcb/wait_events
tutorials/xcb/poll_events
tutorials/xcb/draw_api
tutorials/xcb/window_management
tutorials/xcb/bit_blit
tutorials/xcb/draw_blit
tutorials/xcb/cube3d
