examples/core/io
examples/core/print_format
examples/core/vector
examples/tui/simple
examples/xcb/open_window
examples/xcb/wait_events
examples/xcb/poll_events
examples/xcb/draw_api
examples/xcb/window_management
examples/xcb/bit_blit
